<body>
  
<nav>
  <ul class="sidebar">
  
    <a class="menu-item" href="{% if is_admin_groupe == 1 %}/utilisateurs/{{ coll }}{% else %}/list_users{% endif %}">
      <span class="icon">
        <i class="fa fa-solid fa-house"></i>
      </span>
      <span class="label">Accueil</span>
    </a>

    <a class="menu-item" href="{% if is_admin_groupe == 1 %}/utilisateurs/{{ coll }}{% else %}/list_users{% endif %}">
      <span class="icon">
        <i class="fa fa-solid fa-user"></i>
      </span>
      <span class="label">Utilisateurs</span>
    </a>

    {% if is_admin_pleiade == 1 or is_super_admin == 1 %}
    <a class="menu-item" href="/list_collectivites">
      <span class="icon">
       <i class="fa-solid fa-house-user"></i>
      </span>
      <span class="label">Collectivités</span>
    </a>
    {% endif %}

    {% if is_super_admin == 1 %}
    <a class="menu-item" href="/groupes_applicatifs">
      <span class="icon">
       <i class="fa-solid fa-layer-group"></i>
      </span>
      <span class="label">Applicatifs</span>
    </a>
    {% endif %}

    <div class="d-flex flex-wrap" style="margin-top:auto;">
      {% if is_admin_groupe == 1 %}  
        <h5 class="text-white admin_groupe">Administrateur de collectivité</h5>
      {% endif %}
      {% if is_admin_pleiade %}
        <h5 class="text-white admin_pleiade">Administrateur Pléiade</h5>
      {% endif %}
      {% if is_super_admin == 1 %}
        <h5 class="text-white">Administrateur</h5>
      {% endif %}
      <a class="menu-item" href="{% if is_user_logged_in == 1 %}/user/logout{% else %}/user/login{% endif %}">
        <span class="icon">
          <i class="fa fa-solid fa-user"></i>
        </span>
        <span class="label">{% if is_user_logged_in == 1 %}Déconnexion{% else %}Connexion{% endif %}</span>
      </a>
    </div>
</ul>
</nav>



  {# <header class="mb-3 py-2 d-flex justify-content-center" style="background-color: #1f3889;">    
    <div class="d-flex justify-content-center align-items-center">
    
    </div>
    {% if is_admin_groupe == 1 %}
        <div class="d-flex flex-row justify-content-center">
        {{ page.nav_admin_groupe }}
        </div>
    {% endif %}
    {% if is_admin_pleiade %}
        <div class="d-flex flex-row justify-content-center">
        {{ page.nav_admin_pleiade }}
        </div>

    {% endif %}
    {% if is_super_admin == 1 %}
        <div class="d-flex flex-row justify-content-center">
        {{ page.nav_main }}
        </div> 
    {% endif %}
    {% if is_admin_groupe == 1 %}  
        <h5 class="position-absolute top-0 end-0 p-2 text-white">Administrateur de la collectivité : {{ coll }}</h5>
    {% endif %}
    {% if is_admin_pleiade %}
        <h5 class="position-absolute top-0 end-0 p-2 text-white">Administrateur Pléiade</h5>
    {% endif %}
    {% if is_super_admin == 1 %}
        <h5 class="position-absolute top-1 end-0 p-2 text-white">Administrateur</h5>
    {% endif %}
    {% if is_user_logged_in == 1 %}
    <a class="position-absolute end-0 mt-4 me-2" href="/user/logout">Déconnexion</a>
    {% else %}
     <a class="position-absolute end-0 mt-4 me-2" href="/user/login">Connexion</a>
    {% endif %}
  </header> #}

  
  <main role="main" class="container {% if is_admin_groupe %}admin_groupe{% endif %} {% if is_admin_pleiade %}admin_pleiade{% endif %}">
    {{ page.content }}
  </main>
 
</body>
